/.env
/.idea/.gitignore
/.idea/Discord-Bot-Template.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/app.log
/stderr.log
